{% extends 'KradecekLayoutBundle::admin.html.twig' %}

{% block container %}

<h2>Users</h2>
<div><a href="#" class="btn"><i class="icon-user"></i>Přidat uživatele</a></div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="#{{ user.id }}">{{ user.email }}</a></td>
            <td><a href="#{{ user.id }}" title="Remove"><i class="icon-remove"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
